
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}
li.nav-item
{
margin:10px;
margin-top:14px
}
.navbar-nav>li>a{
	
	color:#fff;
	font-size:16px;
	font-weight:bold;
	margin-top:0px;
    font-family: 'poppinsregular';

}
.navbar-brand {
	
	color:#fff;
    font-family: 'poppinsregular';

	font-weight:bold;
}

body {
	margin: 0px;
	padding: 0px;
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:5;
}











.navbar-toggle
{
	background:#ddd;
	color:#000;
}
.sr-only span{
	color:#000;
}


.slider{
	
	margin-top:72px;
}
.navbar
{

background:#00416a!important;
padding:10px 0px;
width:100%;
border-radius:0px;
margin-bottom:0px;}


.navbar-brand img{
	
	width:190px;
height:60px;	
margin-top:-19px
}


.nav-link  a
{
margin:10px !important;

}

.nav-item li
{
margin:10px !important;
font-size:24px;

}

.logo img
{
	 height:60px;
	 width:50%;
	 float:left;
	
}
.navbar-expand-lg
{
width:100%;
	}
	
	
	
.bs-slider {
	overflow: hidden;
	max-height: 700px;
	position: relative;
	background: #000000;
	z-index: -1;
}

.bs-slider:hover {
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.bs-slider:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.bs-slider .bs-slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.40);
}

.bs-slider>.carousel-inner>.item>img,
.bs-slider>.carousel-inner>.item>a>img {
	margin: auto;
	width: 100% !important;
}
 .btn-read
{
	padding:0px;
	color:#308783;
}

/********************
*****Slide effect
**********************/

.fade {
	opacity: 1;
}

.fade .item {
	top: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0 !important;
	display: block !important;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-ms-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s;
}

.fade .item:first-child {
	top: auto;
	position: relative;
}

.fade .item.active {
	opacity: 1;
	z-index: 2;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-ms-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s;
}


/*---------- LEFT/RIGHT ROUND CONTROL ----------*/

.control-round .carousel-control {
	top: 47%;
	opacity: 0;
	width: 45px;
	height: 45px;
	z-index: 100;
	color: #ffffff;
	display: block;
	font-size: 24px;
	cursor: pointer;
	overflow: hidden;
	line-height: 43px;
	text-shadow: none;
	position: absolute;
	font-weight: normal;
	background: transparent;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.control-round:hover .carousel-control {
	opacity: 1;
}

.control-round .carousel-control.left {
	left: 1%;
}

.control-round .carousel-control.right {
	right: 1%;
}

.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover {
	color: #fdfdfd;
	background: rgba(0, 0, 0, 0.5);
	border: 0px transparent;
}

.control-round .carousel-control.left>span:nth-child(1) {
	left: 45%;
}

.control-round .carousel-control.right>span:nth-child(1) {
	right: 45%;
}


/*---------- INDICATORS CONTROL ----------*/

.indicators-line>.carousel-indicators {
	right: 45%;
	bottom: 3%;
	left: auto;
	width: 90%;
	height: 20px;
	font-size: 0;
	overflow-x: auto;
	text-align: right;
	overflow-y: hidden;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	white-space: nowrap;
}

.indicators-line>.carousel-indicators li {
	padding: 0;
	width: 15px;
	height: 15px;
	border: 1px solid rgb(158, 158, 158);
	text-indent: 0;
	overflow: hidden;
	text-align: left;
	position: relative;
	letter-spacing: 1px;
	background: rgb(158, 158, 158);
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 5px;
	-webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
	transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
	z-index: 10;
	cursor: pointer;
}

.indicators-line>.carousel-indicators li:last-child {
	margin-right: 0;
}

.indicators-line>.carousel-indicators .active {
	margin: 1px 5px 1px 1px;
	box-shadow: 0 0 0 2px #fff;
	background-color: transparent;
	position: relative;
	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-o-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

.indicators-line>.carousel-indicators .active:before {
	transform: scale(0.5);
	background-color: #fff;
	content: "";
	position: absolute;
	left: -1px;
	top: -1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}


/*---------- SLIDE CAPTION ----------*/

.slide_style_left {
	text-align: left !important;
}

.slide_style_right {
	text-align: right !important;
}

.slide_style_center {
	text-align: center !important;
}

.slide-text {
	left: 0;
	top: 18%;
	right: 0;
	margin: auto;
	padding: 10px;
	position: absolute;
	text-align: left;
	padding: 10px 85px;
}

.slide-text>h1 {
	padding: 0;
	color:#fff;
	font-size: 55px;
	font-style: normal;
	line-height: 84px;
		font-family:'nowregular';
font-weight:700;

	letter-spacing: 1px;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.slide-text .btn{
	
	padding:9px 35px;
	background:#00619e;
	border-radius:5px;
	margin-top:20px;
font-size:16px;
border:2px solid #fff;
font-weight:800;
text-transform:uppercase;
color:#fff;
		font-family:'nowregular';
}

.slide-text .btn:hover{
background:#000;
	color:#fff;
	

}
.slide-text>h3 {
	padding: 0;
	color: #fff;
	font-size: 55px;
	font-style: normal;
font-weight:700;

	font-family:'Now';
margin-top:5px;
	overflow:hidden;

letter-spacing: 1px;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}



.slide-text>a:hover,
.slide-text>a:active {
	color: #ffffff;
	background: #222222;
	-webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}


/*------------------------------------------------------*/


/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
	.slide-text h1 {
		font-size: 40px;
		line-height: 50px;
		margin-bottom: 30px;
	}
		.slide-text h3{
		font-size: 40px;
		line-height: 50px;
		margin-bottom: 30px;
	}
	.slide-text>p {
		font-size: 10px;
	}
}


/*---------- MEDIA 480px ----------*/

@media (max-width: 768px) {
	.slide-text {
		padding: 10px 50px;
	}
	.slide-text h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.slide-text h3 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 120px;
	}
	.control-round .carousel-control {
		display: none;
	}
}

@media (max-width: 480px) {
	.slide-text {
		padding: 10px 30px;
	}
	.slide-text h1 {
		font-size: 20px;
		line-height: 25px;
		color: #fff;
		margin-bottom: 5px;
	}
	
	.slide-text h3 {
		font-size: 20px;
		line-height: 25px;
		color: #ffffff;
		margin-bottom: 10px;
	}
	
	.indicators-line>.carousel-indicators {
		display: none;
	}
}


.img_icons img{
	
	color:#000;
	background:#0076a3;
	padding:18px 23px;
	border-radius:50%;
	margin-top:40px;
	
}

.img_icons img:hover{
	
	color:#ddd;
	background:#000;
	padding:18px 23px;
	border-radius:50%;
	margin-top:40px;
	
}




.text-setting h4{
	
    font-family: 'stentigaregular';
	font-size:25px;
	color:#222;
	font-weight:500;
	margin-top:20px;
	
	
}
.text-setting p{
font-family:'poppins';
	font-size:16px;
	color:#848484;
	font-weight:300;
	margin-top:20px;
	line-height:26px;
}
#about_section .btn{
	
	padding:8px 18px;
	background:#0076a3;
	margin-top:20px;
font-size:16px;
font-weight:500;
border-radius:0px;
color:#fff;
    font-family: 'poppinsregular';
}


#toronto_section{
	
	margin-top:70px;
	background:#f0f0f0;
	padding:29px 0px;
}

.img_set img
{
	
	width:100%;
border-radius:15px;	
margin-top:50px;
}



.heading1 h2{
	
    font-family: 'stentigaregular';
	font-size:32px;
	color:#111;
	font-weight:bold;
	
	text-align:center;
	
}
 .service-body{
	 
  background-color: #0076a3;
    padding: 20px;
	border-radius:15px;	
margin-top:-20px
}
 
.service-body h3 {
    font-weight: 700;
    margin-bottom: 17px;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'stentigaregular';
    color: #fff;
}
.service-body p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    font-family: 'poppinsregular';
    height: 138px;
    line-height: 24px;
}
#toronto_section .btn{
	
	padding:6px 20px;
	background:#00416a;
	margin-top:20px;
font-size:16px;
font-weight:500;
border:1px solid #fff;
text-transform:uppercase;
border-radius:5px;
color:#fff;
    font-family: 'poppinsregular';
}





.heading2 h2{
	
    font-family: 'stentigaregular';
	font-size:32px;
	color:#111;
	margin-top:70px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	
}



 footer
 
 {
	 background-color:#1c1d1e;
padding: 30px 0px;
width: 100%;
	 
	 
 }
 

 footer  h4 {
	
	
	color: #fff;
	margin-top:31px;
    font-family: 'poppinsregular';
	font-size: 21px;
}

footer p {
	 color:#888;
		font-family:'poppins';
    line-height: 30px;
	font-size:14px;
	 margin-top: 25px;
	 margin-bottom: 25px;
}
footer .btn {
	background: #2D71A7;
	color: #ffffff !important;
	border-color: #2D71A7 !important;
	padding: 10px 24px;
	border-radius: 28px;
}

footer li {
	font-size: 14px;
	color: #888;
	list-style: none;
	padding: 0px;
	margin-left:-35px;
	margin-bottom: 10px;
	margin-top: 20px;
    font-family: 'poppinsregular';

    margin-bottom: 20px;
 
}

footer .fa{
	
	
	font-size:16px;
	margin-right:15px;
	
}

.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
	margin-top:20px;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}  
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 3px 0 7px 5px;
	background:#fff;
	box-shadow:1px 1px #ccc;
    font-family: 'poppinsregular';
height:50px;
	color:#aaaaaa;
	border:none;
    width: 100%;
}
.txt_3[type="text"] {
    margin: 6px 0;
    padding: 5px 0 50px 5px;
	background:#fff;
		box-shadow:1px 1px #ccc;

	    font-family: 'poppinsregular';

    width: 100%;
	color:#aaaaaa;
	    border:0px;

}

.txt2[type="submit"] {
    background: #00416a;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
	border:0px;
    font-family: 'poppinsregular';

    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 8px 37px; 
    text-transform: uppercase;
    width: 30%;
}
.form
{
margin-top:-17px;
}


 .logo2 img{
	margin-top:27px !important;
	height:70px;
	width:100%;
	
}

.bottom_footer{
		
		background:#00416a;
		width:100%;
		float:left
	}
	
	.bottom_footer p{
		
color: #fff;
    font-weight:400;
    font-size: 14px;
    padding-top:12px;
	
	text-align:center;
    font-family: 'poppinsregular';
	}
	
	
	

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
	border:1px solid #ccc;
	border-radius:10px;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #0076a3;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color:none;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #fff;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #fff;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #fff;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #fff;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
			font-family:'poppins';
font-weight:600;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #ccc;
	color:#fff;
	border-left: 5px solid #00416a;
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #00416a; 
    color: #00416a;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content: .generic_head_price .generic_head_content .head_bg{
	border-color:#000;
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff !important;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #000;
	color: #fff;
} 
#generic_price_table{
	margin: 50px 0 50px 0;
    font-family: 'poppinsregular';
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
	background:#00416a;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
		background:#00416a;

}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: 'stentigaregular';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
	color:#fff;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: 'poppinsregular';
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: 'poppinsregular';
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: 'poppinsregular';
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: 'poppinsregular';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    font-family: 'poppinsregular';
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: #2ECC71;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}




#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
	
    text-align: center;
    line-height: 30px;
    background: #000;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}



.navbar-toggle .icon-bar{
	
	background:#000;

	
	
}


#contactFrm{
	
	padding:40px 0px;
	width:100%;
	background:#ddd;
	
}

#contactFrm h4{
	
	
	font-size:25px;
	font-weight:700;
	color:#111;
	    font-family: 'stentigaregular';

	
}

.map iframe{
	width:100%;
	margin-top:22px;
}